header
 nav
  a(href='/', aria-current='page') Home
  a(href='/page2.html') About us
  a(href='/page2.html') New Patient
  a(href='/page2.html') Services
  a(href='/page2.html') Patient Portal
  a(href='/page2.html') Contact
