extends ../layouts/template.pug
block vars
  - var  bodyId="gggg"
  - var  pageTitle="jhhh-"
  - var  ogTitle="blah"  - var  canonical="tt"

  
block content
 main 
  h1 the h1 tag


 
 
 
