mixin og-mixins()
  meta(property='og:title', content=ogTitle)
  meta(property='og:description', content=+description)
  meta(property='og:image', content=+imageUrl)
  meta(property='og:image:alt', content=+imageAlt)
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='website')
  meta(name='twitter:card', content=+twitterCard)
  meta(property='og:url', content=+URL)